body {font: 24px "Comic Sans MS", cursive;}
h1 {text-align: center;}
h2 {text-align: center;}
div {margin: 0 auto;}
iframe {display: block; width: 560px; height: 315px; margin: 0 auto; frameborder: 0px;}
